h1 a {
    color:#FCA205;
}

body.index tr {
    cursor: pointer;
}

body > .content {
    margin: 0 auto;
    width: 90%;
}
body.index .table td {
    border-right: 1px solid #CCC;
    border-top: none;
}
body.index .table td:last-child {
    border-right: none;
}
