{% extends "formEntry/base.html" %}
{% load staticfiles %}


{% block content  %}
<div class="page-header">
    <h4><a href="{% url 'project_index' %}">Return Home</a></h4>
    <a href="{% url 'project_new' %}" class="top-menu"></a>
</div>
    <h1>Create New Project</h1>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <button type="submit" class="save btn btn-default">Create New Project</button>
    </form>
{% endblock %}
