{% extends "formEntry/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block page_name %}project_update{% endblock %}
{% block content %}

<form action="" method="post">
    <div class="page-header">
        <h4><a href="{% url 'project_index' %}">Return Home</a></h4>
    </div>
    <h4>Update Project</h4>
</form>
<form>
<input type="submit" value="Update">
{% csrf_token %}
    <table>
        {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    {{ field.help_text }}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
<input type="submit" value="Update">
</form>
{% endblock  %}

