{%  extends 'formEntry/base.html' %}
{%  load staticfiles %}

{%  block content  %}
<div class="page-header">
    <h1><a href="/">Nordstrom Technology Projects</a></h1>
</div>
<h4>Project {{object.goal}} Detail</h4>
<table class="col-xs-12">
    <form action="" method="POST" class="post-form">
        {% csrf_token %}
        <tr data-project-id="{{ project.projectRecordID }}">
            <td>
                <table class="table">
                    <tr>
                        <td class="col-xs-1 col-md-1">
                            <div class="fieldWrapper">
                                {{ form.goal.errors }}
                                <label for="{{ form.goal.id_for_label }}">Project Number:</label> {{object.goal}}
                                {{ form.goal }} </br>
                                {{ form.name.errors }}
                                <label for="{{ form.name.id_for_label }}">Project Name:</label> {{object.name}}
                                {{ form.name }}</br>
                                {{ form.group.errors }}
                                <label for="{{ form.group.id_for_label }}">Project Group:</label> {{object.group}}
                                {{ form.group }} </br>
                                {{ form.startDate.errors }}
                                <label for="{{ form.startDate.id_for_label }}">Project Start Date:</label> {{object.startDate}}
                                {{ form.startDate }}</br>
                                {{ form.dueDate.errors }}
                                <label for="{{ form.dueDate.id_for_label }}">Project Due Date:</label> {{object.dueDate}}
                                {{ form.dueDate }} </br>
                                {{ form.completionDate.errors }}
                                <label for="{{ form.completionDate.id_for_label }}">Project Completion Date:</label> {{object.completionDate}}
                                {{ form.completionDate }}</br>
                            </div>
                        </td>
                        <td class="col-xs-1 col-md-1">
                            <div class="fieldWrapper">
                                {{ form.owner.errors }}
                                <label for="{{ form.owner.id_for_label }}">Director (owner):</label> {{object.owner}}
                                {{ form.owner }}</br>
                                {{ form.projectStatus.errors }}
                                <label for="{{ form.projectStatus.id_for_label }}">Status (red/yellow/green):</label> {{object.projectStatus}}
                                {{ form.projectStatus }}</br>
                                {{ form.linkToMetrics.errors }}
                                <label for="{{ form.linkToMetrics.id_for_label }}">Link to Metrics:</label> {{object.linkToMetrics}}
                                {{ form.linkToMetrics }}</br>
                                {{ form.deck.errors }}
                                <label for="{{ form.deck.id_for_label }}">Link to Slide Deck:</label> {{object.deck}}
                                {{ form.deck }}</br>
                                {{ form.revisedDueDate.errors }}
                                <label for="{{ form.revisedDueDate.id_for_label }}">Revised Due Date:</label>{{object.revisedDueDate}}
                                {{ form.revisedDueDate}}</br>
                                {{ form.didNotMeetDate.errors }}
                                <label for="{{ form.didNotMeetDate.id_for_label }}">Did Not Meet Date:</label>{{object.didNotMeetDate}}
                                {{ form.didNotMeetDate }}</br>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr data-project-id="{{ project.projectRecordID }}">
            <td>
                <table class="table">
                    <td class="col-xs-1 col-md-1">
                        <div class="fieldWrapper">
                            {{ form.description.errors }}
                            <label for="{{ form.description.id_for_label }}">Project Description:</label> {{object.description}}
                            {{ form.description }}
                        </div>
                    </td>
                </table>
                <table class="table">
                    <td class="col-xs-1 col-md-1">
                        <div class="fieldWrapper">
                            {{ form.comments.errors }}
                            <label for="{{ form.comments.id_for_label }}">Project Comments:</label> {{object.comments}}
                            {{ form.comments }}
                        </div>
                    </td>
                </table>
                <table class="table">
                    <td class="col-xs-1 col-md-1">
                        <div class="fieldWrapper">
                            {{ form.executiveSummary.errors }}
                            <label for="{{ form.executiveSummary.id_for_label }}">Project Executive Summary:</label> {{object.executiveSummary}}
                            {{ form.executiveSummary }}
                        </div>
                    </td>
                </table>
                <table class="table">
                    <td class="col-xs-1 col-md-1">
                        <div class="fieldWrapper">
                            {{ form.createdDate.errors }}
                            <label for="{{ form.createdDate.id_for_label }}">Created Date:</label> {{object.createdDate}}
                            {{ form.createdDate }}
                        </div>
                    </td>
                </table>
            </td>
        </tr>
    </form>
</table>
{%  endblock %}
