{% extends "formEntry/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block page_name %}project_update{% endblock %}

{% block content %}
<form method="POST" class="post-form">
<div class="page-header">
    <h1><a href="/">Nordstrom Technology Projects</a></h1>
    <h4>Update Page for Project: {{object.name}}.</h4>
    <input type="submit" value="Update" /> {% csrf_token %}
</div>
<div class="container-fluid">
        <div class="panel">
            <div class="row">
                <div class="col-sm-6">
                    <td class="col-xs-6 col-md-6">
                        <div class="fieldWrapper">
                            <table id="summarytable" class="table table-bordered">
                                <thead>
                                    <tr>
                                      <th>Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ form.goalType.errors }}
                                            <label for="{{ form.goalType.id_for_label }}">Goal Type:</label>
                                            {% render_field field style="border: 2px dashed red;" placeholder=field.goalType %}
                                            {{ form.goalType }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.goal.errors }}
                                            <label for="{{ form.goal.id_for_label }}">Goal Number:</label>
                                            {{ form.goal }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.owner.errors }}
                                            <label for="{{ form.owner.id_for_label }}">Owner (Director):</label>
                                            {{ form.owner }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.restrictedStatus.errors }}
                                            <label for="{{ form.restrictedStatus.id_for_label }}">Restricted Status (Permissions):</label>
                                            {{ form.restrictedStatus }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.linkToMetrics.errors }}
                                            <label for="{{ form.linkToMetrics.id_for_label }}">Metrics Deck Link:</label>
                                            {{ form.linkToMetrics }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </div>
                <div class="col-sm-6">
                    <td class="col-xs-6 col-md-6">
                        <div class="fieldWrapper">
                            <table id="statustable" class="table table-bordered">
                                <thead>
                                    <tr>
                                      <th>Status {{form.projectStatus}}  {{form.projectCompletionStatus}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ form.startDate.errors }}
                                            <label for="{{ form.startDate.id_for_label }}">Start Date:</label>
                                            {{ form.startDate }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.dueDate.errors }}
                                            <label for="{{ form.dueDate.id_for_label }}">Due Date:</label>
                                            {{ form.dueDate }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.revisedDueDate.errors }}
                                            <label for="{{ form.revisedDueDate.id_for_label }}">Revised Due Date:</label>
                                            {{ form.revisedDueDate }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.completionDate.errors }}
                                            <label for="{{ form.completionDate.id_for_label }}">Completion Date:</label>
                                            {{ form.completionDate }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ form.didNotMeetDate.errors }}
                                            <label for="{{ form.didNotMeetDate.id_for_label }}">Did Not Meet Date:</label>
                                            {{ form.didNotMeetDate }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fieldWrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Definition and Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ form.description.errors }}
                                        <label for="{{ form.description.id_for_label }}">Description:</label>
                                        {{ form.description }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.comments.errors }}
                                        <label for="{{ form.comments.id_for_label }}">Comments:</label>
                                        {{ form.comments }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.executiveSummary.errors }}
                                        <label for="{{ form.executiveSummary.id_for_label }}">Executive Summary:</label>
                                        {{ form.executiveSummary }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.pathToGreen.errors }}
                                        <label for="{{ form.pathToGreen.id_for_label }}">Path To Green:</label>
                                        {{ form.pathToGreen }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.definition.errors }}
                                        <label for="{{ form.definition.id_for_label }}">Definition:</label>
                                        {{ form.definition }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fieldWrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Milestones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ form.previousMilestone.errors }}
                                        <label for="{{ form.previousMilestone.id_for_label }}">Previous Milestone:</label>
                                        {{ form.previousMilestone }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {{ form.currentMilestone.errors }}
                                        <label for="{{ form.currentMilestone.id_for_label }}">Current Milestone:</label>
                                        {{ form.currentMilestone }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fieldWrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Input Goals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ form.inputGoals.errors }}
                                        <label for="{{ form.inputGoals.id_for_label }}">Input Goals:</label>
                                        {{ form.inputGoals }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="fieldWrapper">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Output Goals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        {{ form.outputGoals.errors }}
                                        <label for="{{ form.outputGoals.id_for_label }}">Output Goals:</label>
                                        {{ form.outputGoals }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>

</form>
{% endblock  %}

