{% extends "formEntry/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block page_name %}project_update{% endblock %}
{% block content %}

<form action="" method="post">
    <div class="page-header">
        <h1><a href="/">Nordstrom Technology Projects</a></h1>
        <h4>Update Page for Project: {{ form.name }}.</h4>
    </div>
</form>
{##}
{#    <input type="submit" value="Update">#}
{##}
{#{% for field in form %}#}
{#    <div class="fieldWrapper">#}
{#        {{ field.errors }}#}
{#        {{ field.label_tag }} {{ field }}#}
{#        {%  if field.help_text %}#}
{#        <p class="help">{{ field.help_text|safe }}</p>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endfor %}#}
{#</form>#}
<form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
</form>
{% endblock  %}

