{% extends "formEntry/base.html" %}
{%  load staticfiles %}

{% block page_name %}project_update{% endblock %}

{% block content %}
<div class="page-header">
    <h1><a href="/">Nordstrom Technology Projects</a></h1>
    <h4>Update Page for Project: {{object.name}}.</h4>
    <input type="submit" value="Update" /> {% csrf_token %}
</div>

<div class="container-fluid">
    <form action="" method="POST" class="post-form">
    {% csrf_token %}
        <div class="panel">
            <div class="row">
                <div class="col-sm-1">
                    <td class="col-xs-1 col-md-1">
                        <div class="fieldWrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Summary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ form.goal.errors }}
                                    <label for="{{ form.goal.id_for_label }}">Project Number:</label>
                                    {{ form.goal }} </br>
                                    {{ form.name.errors }}
                                    <label for="{{ form.name.id_for_label }}">Project Name:</label>
                                    {{ form.name }}</br>
                                    {{ form.group.errors }}
                                    <label for="{{ form.group.id_for_label }}">Project Group:</label>
                                    {{ form.group }} </br>
                                    {{ form.startDate.errors }}
                                    <label for="{{ form.startDate.id_for_label }}">Project Start Date:</label>
                                    {{ form.startDate }}</br>
                                    {{ form.dueDate.errors }}
                                    <label for="{{ form.dueDate.id_for_label }}">Project Due Date:</label>
                                    {{ form.dueDate }} </br>
                                    {{ form.completionDate.errors }}
                                    <label for="{{ form.completionDate.id_for_label }}">Project Completion Date:</label>
                                    {{ form.completionDate }}</br>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock  %}

